{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<style media="screen">
.base-top{
  background-image: url("{% static 'images/back1.jpg' %}");
  width: auto;
  height:250px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.end-class{
  height:300px; background-color:#001226;color:white;font-family:cambria;
}
.end-class img{
  position: absolute;
  right:30px;
  top:35px;
}

#search-id{
margin-left:1px;background-color:#0F2B4E;font-family:cambria;
}
#form-id{
width:700px;float:right;margin-top:100px;
}
#nav-id{
  padding:2px;background-color:#010F20;z-index:1;font-family: cambria;
}
#font-id{
  opacity:80%;font-size:18px;
}
</style>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'custom/style.css' %}" rel="stylesheet">
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
</head>

<body>
<div class="container-fluid base-top">
    <form class="form-inlin d-flex md-form form-sm active-green active-green-2" id='form-id' action='{% url 'blog:post_search' %}' method='GET'>
      <input class="form-control form-control-sm " style='opacity:60%'type="text" placeholder="Search" aria-label="Search" name="search" required>
      <button class="btn btn-primary btn-sm border-0" id='search-id' type="submit" name="button">Search</button>
    </form>
</div>

<div id="wrapper">
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-sm" id='nav-id'>
      <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link heading" id='font-id' href="{% url 'admin:index' %}">Admin</a></li>
        <li id='font-id'><a class="nav-link heading" href="{% url 'home' %}">Home</a></li>
        <li>
          <div class="dropdown">
            <a class='nav-link heading' id='font-id' href="{% get_first_post 'python-for-begginers' %}">Python</a>
            <div class='dropdown-content card-body'>
            <a href="{% get_first_post 'python-for-begginers' %}">Complete Python</a>
            </div>
          </div>
        </li>
        <li id='font-id'><a class="nav-link heading" href="{% url 'blog:review' %}">FEEDBACK</a></li>
      </ul>
      <div class="dropdown navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <div class="dropdown">
          <a class='nav-link heading mr-3' id='font-id' href="{% url 'home' %}"><i class='fas fa-user mr-2'></i>{{ request.user.first_name|capfirst }}</a>
          <div class='dropdown-content card-body dropdown-menu-right'>
            <a href="{% url 'blog:bookmark' %}">Saved Items</a>
            <a href="{% url 'account:change_password' %}">Change Password</a>
            <a href="{% url 'account:logout' %}">Logout</a>
          </div>
        </div>
        {% else %}
        <a class='nav-link heading mr-3'id='font-id' href="{% url 'account:login' %}">Login</a>{% endif %}
      </div>
    </nav>
  </div>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script>
    $("#menu-toggle").click(function(e) {
       e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  {% block content %}
  {% endblock content %}
<div class='container-fluid end-class'>
  <div class="row">
    <div class='col-lg-5'>
      <img src="{% static 'images/creator.jpg' %}" class='rounded-circle' alt="creator" width='19%' height='45%'>
      <span></span>
    </div>
    <div class="col-lg-7">
        <div class="text-cente mt-5" style='opacity:70%;'>
          <h5>ABOUT THE AUTHOR</h5>
          <p>Dharmendra Kotarya holds a B.Tech with honors in Computer Science and Engineering.
             He writes articles and blogs related to Programming and Technology.
             He has specialisation in Python, C, C++, Html, Css and Java-Script.
          </p><br>
          <h5>Contact information</h5>
          <p><b>Email:</b>  casonjose52@gmail.com</p>
        </div>
    </div>
  </div>
</div>
</body>
</html>
